{% block sidebar %}

<style>
        .card{
            box-shadow: 0 16px 48px #E3E7EB;
        }
       
</style>

<!-- Sidebar Widgets Column -->
<div class="col-md-4 float-right ">
<div class="card my-4">
        <h5 class="card-header">Siderbar</h5>
    <div class="card-body">
        <p class="card-text"> Content Sidebar </p>
        <a href="https://djangocentral.com/building-a-blog-application-with-django"
           class="btn btn-danger">Button</a>
    </div>
</div>
</div>

{% endblock sidebar %}